# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# The .gitignore file is a configuration file used by Git to determine which files and directories should be ignored and not tracked in version control. It's an essential tool for maintaining a clean repository and protecting sensitive information.


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
